body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  color: darkblue;
  margin-top: 50px;
}

p {
  color: #333;
  font-size: 18px;
}